@media (min-width: 320px) {
    #footer {
        width: 100%;
        background: #7209B7;
        display: inline-block;
        color: #fff;
        text-align: center;
    }
    p i {
        font-weight: normal;
    }
    p {
        margin: 10px 10px;
        font-size: 20px;
        font-weight: bold;
    }
}

@media (min-width: 800px) {
    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
    }
}