#footer {
    width: 100%;
    background: #7209B7;
    display: inline-block;
    color: #fff;
    text-align: center;
}

p i {
    font-weight: normal;
}

p {
    margin: 30px 0px;
    font-size: 20px;
    font-weight: bold;
}