@media (min-width: 320px) {
    .container__tarjeta {
        margin: 10px 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border: 1px solid #000;
        border-radius: 20px;
        overflow: auto;
        background-color: #cecece;
    }
    .tarjeta__imagen {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tarjeta__imagen img {
        max-width: 100%;
        height: auto;
        border-bottom: 1px solid #000;
    }
    .tarjeta__imagen h4 {
        text-align: center;
        font-style: italic;
        font-size: 20px;
        margin: 5px 0px;
    }
    .tarjeta__parrafo {
        width: 90%;
        font-weight: normal;
        font-size: 20px;
        margin: 5px 5px;
    }
}